{% extends 'auth.html' %}
{% block title %}Login{% endblock %}

{% block body %}
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form method="post">
            <img class="mb-4" src="{{url_for('static', filename='img/sign_in_icon.ico')}}" alt="" width="96" height="96">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="ticket" name="ticket" placeholder="148814881488">
                <label for="ticket">Party ticket</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>

            <div class="checkbox mb-3">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember"> Remember me</label>
            </div>
            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Enter NSDAP">
            {% if error==1 %}
            <h4 class="mt-5 mb-3 text-muted">Error: Party Ticket is invalid</h4>
            {% endif %}
            {% if error==2 %}
            <h4 class="mt-5 mb-3 text-muted">Error: Password is invalid</h4>
            {% endif %}
            <p class="mt-5 mb-3 text-muted">© 1920–1945</p>
        </form>
    </main>
</body>
{% endblock %}